#progress_bar
  #progress_outside
    #progress_shadow
      #progress_inside
        .progress_inside.cycle
        .progress_inside.small_break
        .progress_inside.cycle
        .progress_inside.small_break
        .progesss_inside.cycle
        .progesss_inside.small_break
        .progress_inside.cycle
        .progress_inside.large_break