- unless @pomodoro.errors.blank?
  - @entity_errors = @pomodoro.errors.to_json
  :plain
    $('p.notice').hide();
    $('p.notice').html("There were errors creating Pomodoro.");
    $('p.notice').fadeIn();
    $('p.notice').delay(3000);
    $('p.notice').fadeOut();
    Pomodomo.errors.handle_ajax_errors("#{escape_javascript(@entity_errors)}", "Pomodoro")

$(".pomodoro_dialog").html("#{escape_javascript(render(:partial => 'form', :locals => {:pomodoro => @pomodoro}))}");
