.row
  .span10
    +1 pour-over sartorial, tofu vinyl wes anderson lomo fingerstache. Post-ironic helvetica salvia, williamsburg whatever mustache letterpress sustainable wolf kale chips. Semiotics leggings before they sold out, master cleanse echo park occupy 8-bit beard twee squid authentic fingerstache direct trade narwhal. Brunch vegan blog, letterpress master cleanse kogi before they sold out cred street art gluten-free dreamcatcher direct trade bicycle rights mlkshk. Viral whatever PBR occupy kogi truffaut sartorial. Single-origin coffee you probably haven't heard of them mixtape, beard polaroid lomo pour-over chambray marfa hoodie kogi chillwave blog messenger bag. DIY occupy kale chips banksy bushwick biodiesel, carles direct trade next level 3 wolf moon pork belly mustache cliche pitchfork brunch.
  .span2
    .span Activity Feed
    .div{"ng-repeat" => "event in events" }
      .span
      {{event.text}}
      .span 
      at {{event.time}}