.row
  .span10
    .row
      .span10
        = render 'pomodoros/progress_bar'
    .row
      .span10
        .pomodoro_actions
          = render 'pomodoros/pomodoro_in_progress'
  .span2
    .span Activity Feed
    .div{"ng-repeat" => "event in events" }
      .span
      {{event.text}}
      .span 
      at {{event.time}}

.pomodoro_dialog
