- if @current_user
  .row
    .span10
      #pomodoro_progress_container
        = render 'pomodoros/pomodoro_in_progress'
    .span2
      .span Activity Feed
      .div{"ng-repeat" => "event in events" }
        .span
        {{event.text}}
        .span 
        at {{event.time}}

  .pomodoro_dialog
