- if current_user
  = current_user.first_name
  = current_user.last_name
- else
  = link_to "Sign In w/ Facebook", user_omniauth_authorize_path(:facebook)
  -# = link_to "Sign In w/ Twitter", user_omniauth_authorize_path(:twitter)



.row
  .span10
    %button.btn.btn-primary.start_pomodoro Start Pomodoro
    -#   .hero-unit#countdown_timer
    %ul
      %li Cycle 1 - Work 15 Mins
  .span2
    .span Activity Feed
    .div{"ng-repeat" => "event in events" }
      .span
      {{event.text}}
      .span 
      at {{event.time}}

.pomodoro_dialog
