// Place all the styles related to the pomodoros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.current {
  font-weight: bold;
  color: salmon;
}

span.failed_pomodoro {
  color: red;
}

span.completed_pomodoro {
  color: green;
}
